.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/Header-llustration-desktop@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.about-me {
  background-image: url(img/Frame-left.png), url(img/frame-right.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, 0% 15%;
}

.contact-me {
  background-image: url(img/footer-left.png), url(img/footer-center.png), url(img/footer-right.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left bottom, 10% bottom, right bottom;
}
